/* For NotFound component */

.notFound-div{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.err-status{
    color: red;
}
.err-data{
    color: grey;
}